<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню выбора</title>
    <link rel="stylesheet" href="/static/css/edit_user.css">

</head>
<body>
<div class="container">
    <h1 class="login-title">Выберите действие</h1>

    <button class="main-button" onclick="location.href='/change_labour'">Создать заявку на обмен</button>
    <button class="main-button" onclick="location.href='/'">Просмотр своих заявок</button>
    <button class="main-button" onclick="location.href='/'">Просмотр заявок мне</button>
    <button class="back-button" onclick="location.href='/home'">Вернуться</button>
</div>
</body>
</html>